body{
  background-image: url(../fundo.png);
  background-size: 100%;
  background-position: center;
  font-size: 1.05em;
  text-align: justify;   
}

header{
  background-color: rgba(22, 22, 24, 0.5);
  overflow: hidden;  
}

#title{
  text-align: center;
  color: #3DA542;
}

.continents{
  transition-duration: 0.4s;
  background-color: #212124;
  color: white;
  border: 2px solid #3DA542; 
  border-radius: 12px;
  padding: 16px 16px;
  margin: 0.5vw;
  /* margin-left: 0.9%; */
  font-size: 16px;
  width: 15%;
}   

.continents:hover {
  background-color: #3DA542;
  color: black;
  box-shadow: 0 12px 10px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

main{
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 2%;
  text-align: center;
  /* text-align: justify; */
}

h1, h2{
  color: #3DA542;
}

h3{
  color: #A7D379;
}

#dicas{
  color: white;
}

#ul-special{
  list-style: none;
}

.paragrafo-sub{
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
}

.long-ul{
  margin-left: 14%;
  margin-right: 14%;
  text-align: justify;
}

.btn {
  position: fixed;
  bottom: 20px;
  right: 2%;
  z-index: 99; 
  border: none;
  outline: none; 
  background-color: #A7D379;
  color: #161618; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 100%;
}
  
.btn:hover {
  background-color: #a9a9a9;
}

#myImg {
  max-width: 75%;
  position: relative;
  margin: auto;
  border: 2px solid #3DA542;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s; 
}

footer{
  background-color: rgba(22, 22, 24, 0.5);
  overflow: hidden;
  height: 200px;
  width: 100%;
  margin: 0%;
  border-top: solid 2px #3DA542;

}
