body{
    height: 100%;
    background-image: url(images/europa.png);
    background-repeat: repeat-y;
    background-color: var(--dark-black);
    background-size: auto auto;
    background-position: 70%;   
    font-size: 1.05em;
    margin-left: 20%;
    overflow-x: hidden; /* impedir que tenha scroll horizontal*/
    text-align: justify;
}

.home{
    display: flex;
    flex-direction: column;
    transition-duration: 0.4s;
    background-color: var(--background-clr);
    color: white;
    border: 2px solid var(--gray); 
    border-radius: 12px;
    padding: 16px 16px;
    margin: 9%;
    font-size: 1.5vw;
    width: 80%;
}

.home:hover{
    background-color: var(--gray);
    color: black;
    box-shadow: 0 12px 10px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.paises{
    display: flex;
    flex-direction: column;
    /* ^ criando uma flexbox */
    transition-duration: 0.4s;

    background-color: var(--background-clr);
    color: white;

    border: 2px solid var(--dark-green); 
    border-radius: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    
    margin: 9% 10% 9% 10%;
    font-size: 1.5vw;
    text-align: center;
    width: 80%;
}

.paises:hover{
    background-color: var(--dark-green);
    color: black;
    box-shadow: 0 12px 10px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

nav{
  height: 100%; 
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--background-clr);
  overflow-x: hidden;
  overflow-y: visible;
}

h1{
  display: flex;
  color: var(--dark-green);
}

.subtitle{
  color: var(--light-green);
  font-weight: bold;
}

.paragrafo{
  /* margin-left: 10%; */
  margin-right: 10%;
  text-align: justify;
}

.paragrafo-sub{
  margin-right: 15%;
  text-align: justify;
}

#myImg {
  width: 50%;
  margin-left: 22%;
  margin-right: auto;
  display: block;
  position: relative;
  border: 2px solid var(--dark-green);
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s; 
}
  
.videos-div{
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 1vw;
  flex-wrap: wrap;
}

.img-ex{
  display: flex;
  align-items: center;
}

.estrada-EU{
  position: relative;
  width: 120px;
  padding-left: 1vw;
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .estrada-EU{
    position: relative;
    width: 90px;
  }
}