body{
    height: 100%;
    background-image: url(images/europa.png);
    background-color: #161618;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 70%;
    font-family: 'Ubuntu', sans-serif;
    color: #b1b1b1;
    text-transform: none;
    text-align: justify;    
    font-size: 1.05em;
    margin-left: 20%;
}

.home{
    display: flex;
    flex-direction: column;
    transition-duration: 0.4s;
    background-color: #212124;
    color: white;
    border: 2px solid #A9A9A9; 
    border-radius: 12px;
    padding: 16px 16px;
    margin: 9%;
    font-size: 1.5vw;
    width: 80%;
}

.home:hover{
    background-color: #A9A9A9;
    color: black;
    box-shadow: 0 12px 10px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

.paises{
    display: flex;
    flex-direction: column;
    /* ^ criando uma flexbox */
    transition-duration: 0.4s;

    background-color: #212124;
    color: white;

    border: 2px solid #3DA542; 
    border-radius: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 9% 10% 9% 10%;
    font-size: 1.5vw;
    font-display: auto;
    width: 80%;
}

.paises:hover{
    background-color: #3DA542;
    color: black;
    box-shadow: 0 12px 10px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

nav{
    height: 100%; 
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212124;
    overflow-x: hidden;
    overflow-y: visible;
}

/* aside::-ms-expand{
    width: 20%;
} */

h1{
  display: flex;
  color: #3DA542;
}

.subtitle{
  color: #A7D379;
  font-weight: bold;
}

.paragrafo{
  /* margin-left: 10%; */
  margin-right: 10%;
  text-align: justify;
}

.paragrafo-sub{
  margin-right: 15%;
  text-align: justify;
}

/* começo img única: */

#myImg {
  width: 50%;
  margin-left: 22%;
  margin-right: auto;
  display: block;
  position: relative;
  border: 2px solid #3DA542;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s; 
}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 100%;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content{
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

/* ^fim da img única */

.videos{
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
}

/* Slideshow container */
* {box-sizing:border-box}

.slideshow-container {
    max-width: 40%;
    position: relative;
    margin-left: 20%;
  }
  
  /* Hide the images by default */
  .mySlides1{
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -4.2%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev{
    left: 0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    background-color: rgba(0,0,0,0.6);
    font-size: 1.2vw;
    padding: 8px 12px;
    position: absolute;
    bottom: 3vw;
    width: 50%;
    margin-left: 25%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot{
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
