body{
  height: 100%;
  background-image: url(images/europa.png);
  background-repeat: repeat-y;
  background-color: var(--dark-black);
  background-size: auto auto;
  background-position: 70%;   
  font-size: 1.05em;
  margin-left: 20%;
  overflow-x: hidden; /* impedir que tenha scroll horizontal*/
  text-align: justify;
}

h1{
  display: flex;
  color: var(--dark-green);
}

.subtitle{
  color: var(--light-green);
  font-weight: bold;
}

.paragrafo{
  margin-right: 10%;
  text-align: justify;
}

.paragrafo-sub{
  margin-right: 15%;
  text-align: justify;
}

#myImg {
  width: 50%;
  margin-left: 22%;
  margin-right: auto;
  display: block;
  position: relative;
  border: 2px solid var(--dark-green);
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s; 
}

.img-ex{
  display: flex;
  align-items: center;
}

.estrada-EU{
  position: relative;
  width: 120px;
  padding-left: 1vw;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .estrada-EU{
    position: relative;
    width: 90px;
  }
}