header{
    padding-top: 1.2%;
}

.img-unica{
    border: solid 2px var(--dark-green);
    border-radius: 2px;
    max-width: 30%;
}

.sub-subtitle{
    color: var(--light-green);
    font-weight: bold;
    font-size: 105%;
}